<!DOCTYPE html>
<html>
<h1>Pinger</h1>


{% if message %}
<font size = "3"
color = "red">{{message}}
</font>
{% endif %}

<div id ="Devices">
    {% if devices %}
        {% for device in devices %}
        <li>
            <a 
                href="{% url 'pinger:detail' device.name %}" style = "text-decoration: none">{{ device.name }}
            </a>
                {% if device.status %}
                   ✅
                {% else %}
                   ❌
        {% endif %}
    </li>

<form>
  <button formaction={% url 'pinger:remove' device.name %}>remove</button>
  <button formaction={% url 'pinger:rename' device.name %}>rename</button>
  {% if device.status %}
  <button formaction={% url 'pinger:pause' device.name %}>pause</button>
  {% else %}
  <button formaction={% url 'pinger:restart' device.name %}>restart</button>
  {% endif %}
</form>
<br>
{% endfor %} 
</ul>
{% else %}
<b> No devices added yet </b>
{% endif %}
<br><br><br>
</div>

<form method = "POST" action = {% url 'pinger:add' %}>
{% csrf_token %}
 <fieldset>
  <legend>Add another device for monitoring</legend>
  Device Name :<br>
  <input type="text" name="device name" ><br><br>
  Device Web address:<br>
  <input type="text" name="web address" placeholder = "include http header" ><br>
  <br>
  <input type="submit" value="Add Device">
 </fieldset>
</form>

<script type = "text/javascript">
    window.onload = setupRefresh;
    
    function setupRefresh(){
        setInterval("refreshBlock();",1000);
    }
    
    function refreshBlock() {
    
        var request = new XMLHttpRequest();
        request.open("GET","http://127.0.0.1:8000/pinger/",true);
        request.onload = function() {
        if (request.status == 200) {
            var resp = request.responseText;
            var begin = resp.indexOf("<div");
            var end = resp.indexOf("</div>");
            var test = resp.slice(begin,end);
            
            document.getElementById("Devices").innerHTML = resp.slice(begin,end);
            
         }
        };
        
        request.send();   
    }
</script>

</html>

